body{

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

img {
  float: left;
  margin-top:40px;
}

p{
  margin-left: 40px;
  font-size: 18px;
  font-family: 'Montserrat', serif;
}

.home{
  padding-top: 30px;
  margin-left: 60px;
}

table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 15px;
  margin-left: 60px;
  font-size: 18px;

}

.ll{
  height: 100px;
  width:170px;
  margin-left: 80px;
}

.RDIP{
  padding-top: 80px;
  padding-left: 1300px;
  font-size: 25px;
}

.profile
{
width: 200px;
height: 200px;
margin-top: 10px;
float: right;
margin-right: 20px;
}

form{
  margin-left: 100px;
  text-align: left;
    display: table;
}
.submit{
  padding-left: 100px;
}


.right{
  padding-left: 30px;
}

h1{
  text-align: center;
}
